@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);





#header {
  padding: 50px 0;
  background-color: #eeeeee;
  min-height: 450px;
}
#header h2 {
  margin-top: 0;
}

#header{
  background: url(../img/back.jpg);
  background-image: url(../img/back.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}



#header .btn{
  color: #000;
  font-size: 20px;
  cursor:pointer;
  border: 1px solid #000;
  margin: 30px 0 15px;
  width: 100%;
  padding:20px 40px 20px 40px  ;
  border-radius:3px;
}
#header .btn:hover{
  border:1px solid #333;
  background: #000;
  color: #fff;
  box-shadow:0px 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.1);
  text-decoration:none;
}
#header .btn:active{
  border:1px solid #B1B4B0;
  box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);
  background-color:#eee;
}

#home .logo img{
  width: 100%;
}

#c-ti-head p{
  color:black;
  font-size: 20px;
  padding: 20% 0 0 0;
}

#header a{
  color:#000;
}
#header a:hover{
  color:#fff;
}
.ar #header .c-mob{
  text-align: center;
  font-size: 15px;
  color:#000;
}
.ar #header .c-mob span{
    font-size: 20px;
}
.en #header .c-mob{
  text-align: center;
  font-size: 30px;
  color:#000;
}


#c-why h2{
  margin: 80px 10px 30px 10px;
  font-weight: 300;
}


.fast .fa-circle{
  color:#8f50a0;
}


.secure .fa-circle{
  color:#7b86bc;
}

.cloude .fa-circle{
  color:#45c9f0;
}

.memory .fa-circle{
  color:#fcee35;
}

.report .fa-circle{
  color:#fba632;
}

.easy .fa-circle{
  color:#ed423b;
}

#c-why .c-footer,#every .c-footer{
  padding: 80px 0 80px;
  margin: 0px;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  
  
}
#every .main{
  background: #ed423b;
}

#every .main h2,#every .main p{
  color:#fff;
}
#every .main h2{
  font-weight: 300;
  margin: 70px 0 10px 0;
}
#every .main p{
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 40px 0;
}

#vid{
  background: #45c8f2;
  min-height: 500px;
}

#vid p{
  color: #fff;
  margin-top: 100px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}

#vid .c-yout{
  margin-top: 50px;
  margin-bottom: 50px;
}


#footer{
  background-color: #fff;
  padding-top: 10px;
}

#footer a{
  color:#000;
  height: 170px;
  line-height: 170px;
}
#footer a:hover{
  font-weight: bold;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
}


#c-why {
  background-image: url(../img/par.jpg);
}
#c-why .main{
  background-color: #fff;
}

#every .main{
  background-color: #e44037;
}

#every{
  background-image: url(../img/par2.jpg);
}

@media all and (max-width: 767px) {
    .big-s{
        display: none;
    }
    #footer a{
      height: 50px;
      line-height: 50px;
    }
    #c-tv-im{
      width: 100%;
    }
    
        
}
@media all and (min-width: 768px) {
    .small-s{
        display: none;
    }
    #footer a{
      height: 170px;
      line-height: 170px;
    }
    #c-tv-im{
      width: 50%;
    }

    
    
}




#register #main{
  border-bottom: 5px solid #000;
}

#register #contact-form {
  direction: rtl;
}
#contact-form .form-group{
  margin-bottom: 20px;
}

#contact-form .form-group .col-md-2,#contact-form .form-group .col-md-10{
  float: right;
}
#register #form-con{
      background-color: #fff;
}
.c-link{
  width: 19%;
  display: inline-block;
}
#register #footer .col-md-2,#register #footer .col-md-4{
  
  font-size: 15px;
}





@media all and (max-width: 767px) {
    #contact-form .fo-la{
      width: 100%;
    }
    #contact-form .fo-co{
      width: 100%;
    }
    #register #map{
      margin-bottom: 30px;
    }
    
            
}
@media all and (min-width: 768px) {
    #contact-form .fo-la{
      width: 20%;
    }
    #contact-form .fo-co{
      width: 79%;
      display: inline;
    }
    #register #form-con{
      padding: 25px;
      margin: 25px ;
    }
    #register .logo{
      margin-top: 50px;
    }
    #register #map{
      margin-top: -30%;
    }


}
#register h3 {
  margin-bottom: 20px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow:none;
  outline: 0 none;
}

.btn-ud{
    color: #fff;
    background-color: #faa632;
    border-color: #f49309;
    border-radius: 0px;
}
.btn-ud:hover{
    color: #fff;
    background-color: #f39713;
    border-color: #f49309;
}

















/*side menu*/

#side_menu{
  width: 100%;
  border-radius: 5px red solid;

  
  


}
#side_menu ul{
  list-style-type: none;
  padding: 0 ;
}

#side_menu ul .c-parent{
  border-bottom: 1px solid #cec8e4; 
  background-color: #895ea6; 
  box-shadow: 0 4px 8px 0 rgba(137, 94, 166, 0.2), 0 4px 8px 0px rgba(137, 94, 166, 0.19),  0px 0 8px 4px rgba(137, 94, 166, 0.19);
  text-align: center;
  font-size: 20px;
  transition: opacity 0.5s ease;
  opacity: 1;


}
/*#side_menu ul li{
 
  opacity: .7;
  font-weight: bold;
}*/
/*#side_menu ul a:last-child li{
  border-bottom: #895ea6 1px solid;
  border-radius: 0 0 10px 10px;
}
#side_menu ul a:first-child li{
  border-top: #895ea6 1px solid;
  border-radius: 10px 10px 0 0;
}*/

#side_menu ul .c-parent {
  line-height: 50px;
  font-size: 16px;
  color:#fff;
  
}

#side_menu ul .c-parent li {
  line-height: 50px;
  font-size: 16px;
  background-color: #807ab8;
  border-top: 1px solid #cec8e4;
  
}




/*end of side menu*/


/*navbar*/


    /*navbar to center */
  #temp1 .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  #temp1 .navbar .navbar-collapse {
    text-align: center;
  }

.navbar-custom .c-menue-item a{
  padding: 10px 10px 10px 10px;
}
.navbar-custom .c-menue-item p{
  margin: 0px;
}

.navbar-custom .c-menue-item img{
  width: 40px;
  height: 40px;
}

.c-user img{
  width: 50px;
  height: 5 0px;
}
.c-user p{
  margin: 0px;
  line-height: 25px;

}
.c-user .btn{
  padding: 0 10px 0 10px;
}
.navbar-custom .c-logo{
  width: 100%;
  height: 100%;
}
.navbar-custom .navbar-brand {

  width: 100px;
  height: 100px;
  padding: 0px ;
  margin: 0px;

}

.navbar-custom{
  border-bottom:1px  #000; 
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(137, 94, 166, 0.2);
  z-index: 2;
  background-color: #fff;
}

#temp1 .container-fluid{
  /*margin: 0px !important;
  padding: 0px !important*/
}


/*should change in mobile*/
.navbar-custom .c-menu-center{
  height: 100px;
  padding: 10px 0 10px 0; 
}

/*end of navbar*/

.c-tag{
  background-color: #f8f8f8;
  color: #c0c0c0;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border:1px solid #f8f8f8;
  border-radius: 3px;
}
.c-nat{
  width: 100%;
  height: 150px;
  background-color: #eee;
}


.page-content{
  border: 1px solid #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(137, 94, 166, 0.2), 0 4px 8px 0px rgba(137, 94, 166, 0.19),  0px 0 8px 4px rgba(137, 94, 166, 0.19);
  margin-bottom: 30px;
  overflow: auto;
}

.page-content .raw .c-cont{
 
}

.input-group-addon{
  background-color: #f5b93d;
  color: #fff;
}

.con-tag{
  margin: 10px 0 10px 0;
}

.c-ud-select {
    width: 100% ;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url("../a1.png") no-repeat right #f8f8f8;
    -webkit-appearance: none;
    background-position-x: 95%;
}
.c-ud-select-rtl {
    width: 100% ;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url("../a1.png") no-repeat right #f8f8f8;
    -webkit-appearance: none;
    background-position-x: 1%;
}

.c-search_by{
  font-size: 12px;
  font-weight: bold;
}
 .c-ud-input{
  
  border: none !important;
  background-color: #f8f8f8 !important;
}
.c-ud-input:focus{
  border: none !important;
  background-color: #f8f8f8 !important;
}


.c-col-20{
  margin: 0px;
  padding: 0px;
  width: 19%;
  display: inline-block;
}
.c-col-80{
  margin: 0px;
  padding: 0px;
  width: 79%;
  display: inline-block;
}
.c-col-40{
  margin: 0px;
  padding: 0px;
  width: 39%;
  display: inline-block;
}
.c-col-60{
  margin: 0px;
  padding: 0px;
  width: 59%;
  display: inline-block;
}
.c-col-70{
  margin: 0px;
  padding: 0px;
  width: 69%;
  display: inline-block;
}
.c-col-30{
  margin: 0px;
  padding: 0px;
  width: 29%;
  display: inline-block;
}

.c-body-con{
  margin-top: 180px;
}


thead {
  background-color: #aaa !important;
}
tbody {
  background-color: #f8f8f8 !important;
}
.c-ud-modal .modal-footer{
  
  border-top: 0px !important;

}
.c-ud-modal .modal-header{
  border-bottom: 0px !important;

}
.c-ud-modal .modal-content{
  border-radius: 0px;
}
.content-box{
  border: 1px solid #fff;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(137, 94, 166, 0.2), 0 4px 8px 0px rgba(137, 94, 166, 0.19),  0px 0 8px 4px rgba(137, 94, 166, 0.19);
  margin-bottom: 30px;
  overflow: auto;
}#dash_search_box .row{
  padding: 0px !important;
}
#dash_search_box .content-box{
  overflow: hidden !important;
  margin: 0px;
}



