<h3>{{ title }}</h3>
<p>{{_("عزيزي")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>{{_("لقد تم تكوين حساب لك في  {0}").format(site_url)}}.</p>
<p>{{_("اسم المستخدم لك هو")}}: <b>{{ user }}</b>
<p>{{_("الرجاء الضغط على رابط الى في اتحت لتكميل التسجيل و تكوين كلمة السر")}}.</p>
<p><b><a href="{{ link }}">{{_("اكمل التسجيل")}}</a></b></p>
<br>
<p>{{_("شكرا لك")}},<br>
{{ user_fullname }}</p>

<br>
<p style="font-size: 85%;">{{_("بامكانك نسخ و لصق الرابط في الاسفل في محرك البحث خض لك")}} <a href="{{ link }}">{{ link }}</a></p>
